* { 
    margin: 0;
}
.body { 
    margin: 0;
}
.header {
    background-color: black;
    height: 100%;
    color: #ffffff;
    display: flex;  
    justify-content: center;
}
.logo {
    display: flex;
    align-items: center;
    width: 20%;
}
.imglogo {
    cursor: pointer;
    width: 200px;
    height: 80px;
}
.nav-barra {
    display: flex;
    width: 80%;
    align-items:center;
    justify-content:center;
}
.header-content {
    width: 1200px;
    display: flex;
 
}

.header-content li {
    list-style: none;
    margin-right: 20px;
    margin-left: 20px;
    justify-content: space-between;
    align-items: center;
}
.barra:hover {
    cursor: pointer;
    color: rgb(28, 103, 183);
}
.header-content ul {
    display: flex;
    width: 800px;
    line-height: 80px;
    font-size: 10px;
    flex-direction: row;
    align-content: center;
    justify-content: center;    
    
}
.jumbotron {
    background: url(background.jpg);
    background-size: 100%;
    height: 350px;
    display: flex;
}
.jum-ingresar   {
    width: 35%;
    height: 280px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    font-size: 25px;
    font-family: fantasy;
    color: rgb(255, 255, 255);
    text-align: center;  
    background-color: rgba(0, 21, 255, 0.3);
    border-radius: 10px; 
}
.text {
    padding-top: 100px;
}
.registrarse {
    border-radius: 20px;
    cursor: pointer;
    background-color: rgb(183, 28, 28);
    font-family: serif;
    font-size: 15px;
}   
.registrarse:hover {
    color: aliceblue;
}
.buscar {
    width: 60%;
    height: 350px;
    text-align: center;
    font-family:times new 'Times New Roman';
    font-size: 25px;
    color: aliceblue;

}
.search {
    margin-top: 30px;
    border-radius: 8px;
    background-color: whiteS;
    border-color: rgb(28, 103, 183);
    
}
.submit {
    border-radius: 8px;
    cursor: pointer;
    background: white;
}
.submit:hover {
    background:rgb(28, 103, 183) ; 
}
.text1 {
    font-size: 10px;
    font-family: arial;
    text-align: center;
    margin-top: 140px;
}