* { 
    margin: 0;
}
.body { 
    margin: 0;
}
h2{
    font-size: 40px;
}
.header {
    background-color: black;
    width: 100%;
    color: #ffffff;
    display: flex;  
    justify-content: center;
}
.logo {
    display: flex;
    justify-content: center;
    width: 20%;
}
.imglogo {
    cursor: pointer;
    width: 200px;
    height: 80px;
}
.nav-barra {
    display: flex;
    width: 80%;
    align-items:center;
    justify-content:center;
}
.header-content {
    width: 1200px;
    display: flex;
 
}

.header-content li {
    list-style: none;
    margin: 0 20px;
    width: max-content;
}
.barra {
    cursor: pointer;
}
.barra:hover { 
    color: rgb(28, 103, 183);
   
}
.header-content ul {
    display: flex;
    width: 800px;
    line-height: 80px;
    font-size: 10px;
    flex-direction: row;
    align-content: center;
    justify-content: center;    
    margin-right: 40px;
}
.checkbtn{
    font-size: 30px;
    color: #ffffff;
    float: right;
    line-height: 110px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
    
}
.jumbotron {
    background: url(background.jpg);
    background-size: cover;
    height: 350px;
    display: flex;
}
.jum-ingresar   {
    width: 35%;
    height: 280px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    font-size: 25px;
    font-family: fantasy;
    color: rgb(255, 255, 255);
    text-align: center;  
    background-color: rgba(0, 21, 255, 0.3);
    border-radius: 10px; 
}
.text {
    padding-top: 100px;
}
.registrarse {
    border-radius: 20px;
    cursor: pointer;
    background-color: rgb(183, 28, 28);
    font-family: serif;
    font-size: 15px;
}   
.registrarse:hover {
    color: aliceblue;
}
.buscar {
    width: 60%;
    height: 350px;
    text-align: center;
    font-family:times new 'Times New Roman';
    font-size: 25px;
    color: aliceblue;

}
.search {
    margin-top: 30px;
    border-radius: 8px;
    background-color: whiteS;
    border-color: rgb(28, 103, 183);
    
}
.submit {
    border-radius: 8px;
    cursor: pointer;
    background: white;
}
.submit:hover {
    background:rgb(28, 103, 183) ; 
}
.text1 {
    font-size: 10px;
    font-family: arial;
    text-align: center;
    margin-top: 140px;
}
.catalogo {
    width: 100%;
    background-color:bisque ;
    
}
.catTitulo{
    text-align: center;
    padding-top: 25px;
}
.blog{
    width: 100%;
    height: 900px;
    background-color:bisque ;
    
}
.item{
    width: 350px;
    height: 400px;
    display: flex;
    float: left;
    margin: 20px;
    border-radius: 10px;
    border: solid 2px  rgb(28, 103, 183);
    flex-direction: column;
    background: black;
    color: aliceblue;

}
.imagenProducto{
    width: 350px;
    height: 230px;
    
}
.autos{
    width: 350px;
    height: 233.33px;
    border-radius: 10px;
    cursor: pointer;
}
.infoCar{
    text-align: center;
    margin-top: 20px;
}
.negociar{
    border:solid rgb(28, 103, 183) 2px;
    border-radius: 5px;
    background-color: black;
    color: white;
    margin-left: 120px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100px;
    height: 25px;
    cursor: pointer;
    text-decoration: none;
}
.negociar:hover{
    color: rgb(183, 28, 28);
    
}
.ver{
    border:solid rgb(28, 103, 183) 2px;
    border-radius: 5px;
    background-color: black;
    color: white;
    margin-left: 150px;
    margin-top: 30px;
    width: 100px;
    height: 50px;
    cursor: pointer;
    text-decoration: none;
}
.ver:hover{
    color: rgb(28, 103, 183);

}
.cuadro{
    background-color: rgba(0,0,0,.8);
    position:fixed;
    top:-250px;
    right:0;
    bottom:0;
    left:0;
    opacity:0;
    pointer-events:none;
    transition: all 1s;
}
#modal:target{
    opacity: 1;
    pointer-events: auto;

}
.galeria{
    width: 350px;
    height: 500px;
    margin-top: 300px;
    margin-left: 400px;
    background-color: rgba(239, 181, 181, 0.3);
    position: relative;
    padding: 10px 20px;
}
.cierreVent{
    direction: none;
    color: aliceblue;
}
.ventTitulo{
    text-align: center;
    color: black;
}
.ventInfo{
    margin-top: 20px;
    text-align: center;
    color: black;
}
.garantia{
    text-align: center;
    margin-top: 20px;
    color: black;
}
.compra{
    background-color: rgb(28, 103, 183);
    margin-left: 115px;
    margin-top: 40px;
    border: solid black 1px;
    border-radius: 3px;
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.compra:hover{
    color: aliceblue;
}
#modal1:target{
    opacity: 1;
    pointer-events: auto;
}
#modal2:target{
    opacity: 1;
    pointer-events: auto;
}
#modal3:target{
    opacity: 1;
    pointer-events: auto;
}
#modal4:target{
    opacity: 1;
    pointer-events: auto;
}
#modal5:target{ 
    opacity: 1;
    pointer-events: auto;
}

.adicionales{
    width: 100%;
}
.adiTitulo{
    width: 100%;
    text-align: center;
    padding-top: 30px;
    background-color:antiquewhite ;

}
.adicContainer{
    width: 100%;
    height: 450px;
    background-color: antiquewhite;
}
.item1{
    width: 350px;
    height: 400px;
    display: flex;
    float: left;
    margin: 20px;
    border-radius: 12px;
    border: solid 2px  rgb(183, 28, 28);
    flex-direction: column;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.infoMan{
    text-align: center;
    margin-top: 25px;
    font-family: 'Courier New', Courier, monospace;
}
.manText{
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.service{
    border:solid rgb(28, 103, 183) 2px;
    border-radius: 5px;
    background-color: black;
    color: white;
    margin-left: 105px;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 150px;
    height: 25px;
    cursor: pointer;
    text-decoration: none;

}
.piePag{
    width: 100%;
    background-color: rgb(255, 255, 255);
    background: black;
    color: #ffffff;

}
.figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgFooter{
    width: 300px;
    cursor: pointer;
}
.footerNoso{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.lorem{
    font-size: 10px;
    font-family: sans-serif;
    margin-top: 10px;
}
.grupo1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 50px;
    padding: 45px 0;
}
.redSocial a{
    display:inline-block;
    text-decoration:none;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: rgb(254, 255, 255);
    margin-right: 10px;
    background-color: rgb(56, 47, 161);
    border-radius: 10px;
    text-align: center;
    transition: all 300 ease;
}
.redSocial a:hover{
    color: dimgray;
}
.grupo2{
    background-color: rgb(28, 103, 183);
    padding: 15px 10px;
    text-align: center;
    color: white;
}




